<nav class="border-bottom sticky-top">
  <input type="checkbox" id="sidebar-active" />
  <label for="sidebar-active" class="open-sidebar-button">
    <i class="fa-solid fa-bars navbar_Ickon"></i>
  </label>
  <label id="overlay" for="sidebar-active"></label>
  <div class="links-container">
    <label for="sidebar-active" class="close-sidebar-button">
      <i class="fa-solid fa-x navbar_Ickon"></i>
    </label>
    <a class="home-link" href="/listings"
      ><i class="fa-brands fa-airbnb fa-2xl" style="color: #ff385d"></i
    ></a>
    <a href="/listings/new">Add New Listing</a>
    <% if(!currUser) { %>
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
    <% } %> <% if(currUser) { %>
    <a href="/logout">Log out</a>
    <% } %>
  </div>
</nav>
